@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "emblema one", sans-serif;
}
.conteudo{
    flex:1;
}
.cabecalho_contatos{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 10vh;
    /* border: solid 5px black; */
}

.menu_contatos{
    list-style: none;
    display: flex;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -10px;    
}

.contatos{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
    color: #1351d8;

}

.contatos:hover{
    transform: scale(1.1);
    font-size: 20px;
    color: #1b357e;
}

.meio_contatos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 84vh;
    border: solid 5px yellow;
}

.lado_carro{
    width: 35vh;
    margin-right: 4%;
}

.lado_formulario{
    /* border: solid 5px blue;  */
    gap: 20px;
}
.meio_contatos p{
    font-size: 20px;
}

form{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: solid 5px blue; */
}

input{
    width: 100%;
    max-width: 400px;
    height: 50px; /* Define a altura do campo */
    padding: 10px; /* Espaçamento interno para melhor visualização */
    font-size: 16px; /* Aumenta o tamanho do texto dentro do input */
    border: 1px solid #ccc;
    border-radius: 5px; /* Borda arredondada */
}

#tipo_de_contato{
    width: 100%;
    max-width: 400px;
    height: 50px; /* Define a altura do campo */
    padding: 10px; /* Espaçamento interno para melhor visualização */
    font-size: 16px; /* Aumenta o tamanho do texto dentro do input */
    border: 1px solid #ccc;
    border-radius: 5px; /* Borda arredondada */
}

#mensagem{
    width: 100%;
    max-width: 400px;
    height: 100px; /* Define a altura do campo */
    padding: 10px; /* Espaçamento interno para melhor visualização */
    font-size: 16px; /* Aumenta o tamanho do texto dentro do input */
    border: 1px solid #ccc;
    border-radius: 5px; /* Borda arredondada */
}

button{
    width: 100%;
    max-width: 400px;
    height: 50px; /* Define a altura do campo */
    padding: 10px; /* Espaçamento interno para melhor visualização */
    font-size: 16px; /* Aumenta o tamanho do texto dentro do input */
    border: 1px solid #ccc;
    border-radius: 5px; /* Borda arredondada */
    background-color: #1351d8;
    color: white;
    cursor: pointer;
}

.rodape{
    display: flex;
    background-color: #1b357e;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
}

.menu_rodape{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
    color: white;
    gap: 5px;

}

.icone-social{
    width: 40px;
	height: auto;
	transition: transform 0.2s ease-in-out;
}

.icone-social:hover{
    transform: scale(1.2);
}

.lancamentos_direitos{
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    gap: 20px;
    /* border: solid 5px red; */
}

