@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "emblema one", sans-serif;  
}
.conteudo{
    flex: 1;
}
.cabecalho{
    display: flex;
    gap: 20px;
    align-items: center;
    height: 10vh;
    /* border: solid green 5px; */
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    border-bottom: solid 5px;
    border-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%) 1;
    
}

.imagem_logo{
    width: auto;
    height: 6vh;
    padding-left: 2%;
}

.menu_cabecalho{
    display: flex; 
    list-style: none;
    gap: 20px;
    position: absolute;
    left: 50%;
    top: 3.8%;
    transform: translateX(-50%);
}

.menu{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;   
    color: #1351d8;
   
}

.menu:hover{
    transform: scale(1.1);
    font-size: 20px;
    color: #1b357e;
}

.meio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid 5px orange;  */
    height: 130vh;
    margin-bottom: 150px;;
    
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
    /* border: solid 5px #1351d8  */
    font-weight: 100;
}

.video p{
    width: 40% ;
    text-align: justify;
    padding-right: 1%;
}
 
.video_main{
    width: 50%;
    height: 500px;
    /* border: solid 5px blue; */
}

.carros_meio{
    display: flex;
    gap: 20%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    /* border: solid 5px red; */
    padding-bottom: 10px;
    margin-bottom:20px;
    
}

figure p{
    color: black;
}

.carros_meio figure{
    text-align: center;
    color: #1351d8;
}

.carros_meio figcaption{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}

input[type="checkbox"]:checked{
    transform: scale(1.7);
    accent-color: blue;
}

.imagem_table{
    position: relative;
    display: inline-block;
}

.tabela-hover{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px); /* Aplica um desfoque ao fundo */
    padding: 15px;
    border-radius: 10px;
    border: solid 1px black;
    padding: 30px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    z-index: 10;
}

.imagem_table:hover .tabela-hover{
    display: block;
}

.imagem_table:hover .tabela-hover{
    animation: fadeIn 0.3s ease-in-out;
 }

.imagem_table_storm{
    position: relative;
    display: inline-block;
}

.tabela-hover-storm{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: solid 1px black;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.imagem_table_storm:hover .tabela-hover-storm{
    display: block;
    animation: fadeIn 0.3s ease-in-out;
    transform: translateX(-10%);
    background-color: white;
    padding-right: 10px;
    border-radius: 10px;
}

table{
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-left: -9px;
    
}

table, th, td{
    border: solid 1px black;
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(0%) translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0%) translateY(0);
    }
}


.carros_meio input[type="checkbox"]{
    margin-right: 10px;
    
}

.info-carros{

    width: 20px;
    height: auto;
    margin-left: 10px;
}


.botao{  /* FAZER UM HOVER */

    display: flex;
    justify-content: center;
    align-items: center;
    
    /* margin-top: 100px; */
    /* margin-bottom: 150px; */
    padding: 20px 60px 20px 60px;
    border-radius: 10px;
    background-color: #1351d8;
    color: white;  
    cursor: pointer;
    font-family: "emblema one",sans-serif;
    
    
}

.link_botao{
    transition: transform 0.2s ease-in-out;
    padding: 0 0 0 0;
    text-decoration: none;
    /* border: solid 5px blue;  */
    margin-top: 5%;
    /* border: solid 5px black; */

}

.link_botao:hover{
    transform: scale(1.2);
}

.rodape{
    display: flex;
    background-color: #1b357e;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    
    
}

.lancamento_rodape{
    display: flex;
    margin-left: 1%;

}
.menu_rodape{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
    color: white;
    gap: 5px;

}

.icone-social{
    width: 40px;
	height: auto;
	transition: transform 0.2s ease-in-out;
}

.icone-social:hover{
    transform: scale(1.2);
}


.lancamentos_direitos{
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    gap: 20px;
    /* border: solid 5px red; */
}

.lancamentos_logo{
    padding-right: 2%;
}