@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html,body{
	min-height: 100vh;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	font-family: "emblema one", sans-serif;  
}
.conteudo{
	flex: 1;
}
.elementos__cabecalho{
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    border-bottom: solid 5px;
    border-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%) 1;
	display: flex;
	height: 10vh;
	/* border: solid 5px #32de84; */

}

.elementos__cabecalho img{
	justify-items: left;
	padding-top: 1%;
	padding-left: 2%;
	width: auto;
    height: 8vh;
}

.menu{
	list-style: none;
    display: flex;
	gap: 20px;
	padding: 1.5% 0;
    position: absolute;
    left: 50%; /* deslocou 50% em relação a pagina */
    transform: translateX(-50%);
}

.elementos_do_menu{
	font-size: 16px;
	font-weight: 600;
	color: #1351d8;
	text-decoration: none;
	transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
	color: #1351d8;
}

.elementos_do_menu:hover{
	transform: scale(1.1); /* Aumenta 10% */
    font-size: 20px; /* Aumenta um pouco o tamanho da fonte */
	color: #1b357e;
}


main{
	display: flex;
	flex-direction: column;
	justify-content: center;	
	align-items: center;
	height: 84vh; /* para ocupar toda a altura da pagina */
	/* border:solid 5px #1351d8 ;  para criar uma borda */
}

.elementos_meio{
	display: flex; /* ativa o flex box*/
	flex-direction: column; /*  para fazer a orientação da dos elementos */
	justify-content: center; /* centraliza horizontalmente */
	align-items: center; /* centraliza verticalemnte*/
	/* border:solid 5px red ;  para criar uma borda */
	padding: 10px 0 0 0;
	width: 60vw;
}

.elementos_meio img{
	width: 60vw; /* largura da imagem */
	height: auto; /* altura da imagem */
}

.texto_embaixo_da_ranger{
	text-align: center;
	font-size: 24px;
	text-decoration: none;
	color: #1351d8;
}

footer{
	display: flex;
	justify-content: space-between;
	background-color: #1b357e;
    /* border: solid 5px #ff7f50;  */
	height: 6vh;
	/* margin-top: 10px;  */
	/* border: solid 5px red;  */
}

.elementos__rodape{
	display: flex;
	justify-content:left;
	align-items: center;
	gap: 5px;
	width: 21vw ;
	padding: 0 0 0 10px;
	color: azure;  /* aqui muda a cor que estiver no corpo da tag selecionada  */
	/* border:solid 5px #00FF00;  */
}

.icone-social {
	width: 40px;
	height: auto;
	transition: transform 0.2s ease-in-out;
}

.icone-social:hover{
	transform: scale(1.1); /* efeito de zoom ao passar o mouse por cima */
}

.direitos_autorais{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center;
	color: aliceblue;
	width: 100vw;
	/* border: solid #FF00FF; */
	font-size: 15px;
}


.imagem_logo_rodape {
	display: flex;
	
    /* border: solid #FF00FF;   */
}




@media (min-width: 768px) and (max-width:900px) {
	*{
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
	}
	
	html,body{
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		font-family: "emblema one", sans-serif;  
	}
	.conteudo{
		flex:1;
	}

    .elementos__cabecalho {
		height: 9vh;
        display: flex;
        flex-direction: row;
		/* border: solid 5px yellow; */
    }

	.elementos__cabecalho img{
		height: 4.2rem;
		width: 8rem;
		/* border: solid 5px red; */
	}

    .menu{
		margin-top: 1.4%;
    }

    .elementos_do_menu {
        font-size: 18px;
    }

	main{
		display: flex;
        flex-direction: column;
        /* height: 75vh; */
        /* border: solid 5px green; */
        /* margin-bottom: 7%; */
        flex:1;
	}
	.elementos_meio img{
		height: 35vh;
		width: auto;
	}

	footer{
		height: 7vh;
        display: flex;
	}



}

@media(min-width: 360px) and (max-width:767px){
	
	.conteudo{
		flex:1;
	}

    .elementos__cabecalho {
		height: 8vh;
        display: flex;
        flex-direction: row;
		/* border: solid 5px green; */
    }

	
	.elementos__cabecalho img{
		height: 2rem;
		width: 4rem;
		/* border: solid 5px red; */
	}

    .menu{
		margin-top: 1.8%;
		left: 60%;
		
    }

    .elementos_do_menu {
        font-size: 0.7rem;
    }

	main{
		display: flex;
        flex-direction: column;
        /* height: 75vh; */
        /* border: solid 5px green; */
        /* margin-bottom: 7%; */
        flex:1;
		
	}
	.elementos_meio img{
		height: 17vh;
		width: auto;
	}

	.texto_embaixo_da_ranger{
		font-size: 1rem;
	}

	footer{
		height: 8vh;
        display: flex;
	}

	.elementos__rodape p{
		font-size: 0.7rem;
	}

	.icone-social{
		width: 2rem;
	}

}

@media(min-width: 320px) and (max-width:359px) {
	.conteudo{
		flex:1;
	}

    .elementos__cabecalho {
		height: 8vh;
        display: flex;
        flex-direction: row;
		/* border: solid 5px green; */
    }

	
	.elementos__cabecalho img{
		height: 2rem;
		width: 4rem;
		/* border: solid 5px red; */
	}

    .menu{
		margin-top: 1.8%;
		left: 60%;
		
    }

    .elementos_do_menu {
        font-size: 0.7rem;
    }

	main{
		display: flex;
        flex-direction: column;
        /* height: 75vh; */
        /* border: solid 5px green; */
        /* margin-bottom: 7%; */
        flex:1;
		
		
	}
	.elementos_meio img{
		height: 30vh;
		width: auto;
	}

	.texto_embaixo_da_ranger{
		font-size: 1rem;
	}

	footer{
		height: 8vh;
        display: flex;
	}

	.elementos__rodape p{
		font-size: 0.7rem;
	}

	.icone-social{
		width: 2rem;
	}

}
