*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html,body{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.conteudo{
	flex: 1;
}
.elementos__cabecalho{
display: flex;
height: 10vh;
border: solid 5px #32de84;

}

.elementos__cabecalho img{
	justify-items: left;
	width: 10vw;
	height: 9vh;

}

.menu{

	list-style: none;
    display: flex;
	gap: 20px;
	padding: 1.5% 0;
    position: absolute;
    left: 50%; /* deslocou 50% em relação a pagina */
    transform: translateX(-50%);
}

.elementos_do_menu{
	font-family: 'Montesarat', sans-serif;
	font-size: 24px;
	font-weight: 600;
	color: #1351d8;
	text-decoration: none;

}

.elementos_do_menu:hover{
	color: #32de84;
	
}


main{
	display: flex;
	flex-direction: column;
	justify-content: center;	
	align-items: center;
	height: 84vh; /* para ocupar toda a altura da pagina */
	border:solid 5px #1351d8 ; /*  para criar uma borda */

}

.elementos_meio{
	
	display: flex; /* ativa o flex box*/
	flex-direction: column; /*  para fazer a orientação da dos elementos */
	justify-content: center; /* centraliza horizontalmente */
	align-items: center; /* centraliza verticalemnte*/
	border:solid 5px red ; /*  para criar uma borda */
	padding: 10px 0 0 0;
	width: 60vw;
}

.elementos_meio img{
	
	width: 60vw; /* largura da imagem */
	height: auto; /* altura da imagem */
}

.texto_embaixo_da_ranger{

	text-align: center;
	font-size: 24px;

}

footer{

	display: flex;
	flex-direction: row;
	background-color: #1b357e;
    /* border: solid 5px #ff7f50;  */
	height: 6vh;
	/* margin-top: 10px;  */
	border: solid 5px red; 
	
}

.elementos__rodape{

	display: flex;
	justify-content:left;
	align-items: center;
	width: 21vw;
	color: azure;  /* aqui muda a cor que estiver no corpo da tag selecionada  */
	/* border:solid 5px #00FF00; */
}

.icone-social {
	width: 40px;
	height: auto;
	transition: transform 0.2s ease-in-out;
}

.icone-social:hover{
	transform: scale(1.1); /* efeito de zoom ao passar o mouse por cima */
}

.direitos_autorais{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center;
	color: aliceblue;
	width: 100vw;
	/* border: solid #FF00FF; */
	font-size: 15px;
}


.imagem_logo_rodape {

	display: flex;
	justify-content: center;
	
	/* border: solid #FF00FF;   */

}

.elementos__rodape p{
	font-size: 20px;
	border:solid 5px #00CED1;
}


